<%= form_for ([@post, @post.comments.build]) do |f| %>
	<div class="row collapse">

   		<div class="large-11 columns"><%= f.text_field :body %>
		</div>
	</div>
	<div class="row collapse">
    	<div class="large-11 columns"><%= f.submit class: "button" %>
    	</div>
  	</div>
<% end %>