<%= form_for ([@post, @post.comments.build]) do |f| %>
	<div class="row collapse">
    	<div class="small-1 columns"><%= f.label :comment, class: "right inline" %>
		</div>
   		<div class="small-11 columns"><%= f.text_field :body %>
		</div>
	</div>
	<div class="row collapse">
    	<div class="small-11 small-offset-1 columns"><%= f.submit class: "button" %>
    	</div>
  	</div>
<% end %>